<% provide(:title, "About") %>
<h1 class="about_h1_title">
  About Trumpism
</h1><br/>
<br/>
<h2 class="about_h2_hdr">
  What is Trumpism?
</h2><br/>
<p class="about_p_bio">
  "Trumpism is a term for the political ideology, style of governance, political movement,
  and/or set of mechanisms for acquiring and keeping power that are associated with Donald Trump,
  the 45th President of the United States (2017–present), and his political base. It is an American
  politics version of the right-wing to far-right, national-populist sentiment seen in multiple n
  ations worldwide and holds some aspects of illiberal democracy."<b class="about_p_bio1"> ~ Wikipedia</b>
</p><br/>
<br/>
<h2 class="about_h2_hdr">
  Why Trumpism?
</h2>
<p class="about_p_bio2">
  To some, Trumpism is just another <strong>Polical Party</strong>, to others, this is more than a political statement.
  Trumpism is a beliefe! Morals! and above all,<strong> Law &amp; Order!</strong><br/>
  <br/>
  Trumpism is the support of Military, Police, and Citizens. Being able to "reboot" or "restart" our country
  based upon the original principles of our four founding fathers. Get this country back on track and not
  have to worry about stepping on toes becuase your "Freedom of Speech" was violated and hurt someones feelings.
  We are tired of playing the "Let's not hurt feelings" B.S. and let's start rebuilding this country where
  we help each other up, not put each other down due to Race, Religion, Sex, Beliefes.
</p>
