<% provide(:title, "Agenda") %>
<div class="agenda_div">
<h1 class="agenda_h1_title">
  Trumpism Agenda
</h1><br/>
<br/>
<p class="agenda_p_intro">
  The Trumpism Agenda would be to uphold the original constitution and not provide any favoritism towards any type of Race, Religion, or Sex. If the constitution is established, uphold, and forced into daily lives, the United States would adhere to a better and brighter future. While the alteration of a few “New Laws” and “Forcing” wrongful institutions, Trumpism would be bringing back original designed documentations and legal actions bestowed upon the founding four fathers.
  Those in support of Trumpism is against the Republican and Democratic Parties alike. We are against the “Protesting” that we see taking place. Instead we see these “Protesters” act like children and are performing illegal activities. Trumpism will bring back God into the country. Ensure Freedom of Speech, Ensure we protect the original amendments including the Right to Bear Arms.
</p><br/>
<br/>

<h2 class="agenda_h2_title">Trumpism In America:</h2><br/>
<p class="agenda_p_bio">
The idea of keeping America Great, is the ability to ensure that as many jobs and manufacturing processes stays in America. By forcing companies to produce their products in America, this will help ensure that American Citizens will be able to work. Another aspect of this would be to lower the standard cost of living across the board, and raise the average working rate. By ensuring that the rates are lowered for Cost of Living, and raising the minimum wage per trade, we can ensure that every American can live and not be forced into Work-Place Slavery until death.
</p><br/>
<h2 class="agenda_h2_title">Taxation Issues & Resolving:</h2><br/>
<p class="agenda_p_bio">
The Trumpism Taxation Act will ensure that every American will be able to prosper and keep more of their money. By removing Sales Tax on all items across the board, and only collect a smaller portion of State Tax as well as Federal Tax.
The new Trumpism Federal Taxation Rate would be lowered in the following example;
Yearly Income $0.00 ~ $15,000
Old Federal Taxation ~ 4.67% = $29 (PER CHECK)
New Federal Taxation ~ 2.2% = $13.12 (PER CHECK)
Yearly Income $15,001 ~ $35,000
Old Federal Taxation ~ 8.70% = $127(PER CHECK)
New Federal Taxation ~ 4.25% = $61.96(PER CHECK)
By cutting the Federal Taxation Act by half, and removing the sales tax completely, the American Citizens can enjoy more financial freedom than ever before by putting more money in their pockets!
</p><br/>
<h2 class="agenda_h2_title">Police Standards & New Policies</h2><br/>
<p class="agenda_p_bio">
The most common issue in which we see take place in the media, is that police officers often are granted a slap on the wrist for the most horrible crimes. The Trumpism support for the police officers will not to be to slander their reputation, but assist on rebuilding their reputation and bring back the original meaning of Police Officer. In which we all remember is to;
Protect & Serve
Indeed there are several amazing officers who put their lives on the line each and every day, there are indeed some in which are not so great. And we will treat the
law enforcement just like a regular job. We will provide randomized drug screening test to every officer, no exceptions. Any officer caught with any type of drug in
their system (without a prescription) will be immediately terminated without any additional benefits. These officers will be dishonorably discharged and will not be
allowed to uphold any officer role. We will ensure that our brightest and best officers provides hands on training to new recruits, as well as assist in teaching new
teachers that will be allowing new police officers into the work force. By restructuring the entire hiring process, and training, as well as ensuring proper drug testing,
and added in the additional benefit of monthly valuations, we will be able to ensure that the citizens of America can feel safe, secure, and most importantly, trust their
local police officers once again.
</p>
</div>
