<% provide(:title, "Donate") %>
<div class="agenda_div">
<h1 class="donate_h1_ttle">
  Donate to Trumpism
</h1><br/>
<br/>
<p class="donate_p_bio">
  Our mission is to spread the Trumpism Campaign to everyone. In order to get Trumpism in front of everyone, we would need
  to host campaigns, put together several pieces of merchandise, and host our website. Your contributions would
  be going towards supporting the <strong>United States of America</strong> as well as helping us get back to the
  roots we all know and love. Any size donations are acceptable, and we greatly appreciate your efforts, support, and donations!
</p>
<table border="0" style="margin: 10px auto;">
  <tr>
    <td style="padding-right: 35px;">
      <h1 class="donate_tble_h1">
        Donate with PayPal:
      </h1>
    </td>
    <td style="padding-right: 35px;">
      <h1 class="donate_tble_h1">
        Donate with CashApp:
      </h1>
    </td>
    <td>
      <h1 class="donate_tble_h1">
        Donate with Bitcoin:
      </h1>
    </td>
  </tr>
  <tr>
    <td style="padding-right: 35px;">
      <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="2QQGVFD6EUQ2J" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </td>
    <td style="padding-right: 35px;">
      <%= image_tag('cashapp.png', width: '150px', height: '150px') %>
    </td>
    <td>
      <%= image_tag('btc.png', width: '150px', height: '150px') %>
    </td>
  </tr>
</table>
</div>
