<div class="center jumbotron">
  <h1 class="home_h1_title">
    Welcome to Trumpism
  </h1>

  <h2 class="home_h2_intro">
    The official website dedicated to Trumpism &amp; its beliefs!<br/>
    <br/>
    Get Started:<br/><br/>
    <%= link_to 'Agenda', agenda_path, class: 'btn btn-primary' %>&nbsp;<%= link_to 'About', about_path, class: 'btn btn-warning'%>&nbsp;<%= link_to 'Donate', donate_path, class: 'btn btn-success' %>&nbsp;<%= link_to 'Members', members_path, class: 'btn btn-danger' %>
  </h2>

</div>
