<% provide(:title, 'Members') %>
<div class="agenda_div">
<h1 class="members_h1_title">
  Members of Trumpism:
</h1><br/>
<br/>
<p class="members_p_bio">
  Trumpism is a collective arrangement of several individuals from all over United States of America,
  and below, we have the official members of the Trumpism Political Party;<br/>
</p>
<br/>
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="https://scripteden.com/">Ryan Berg</a>
                    </div>
                    <div class="desc">Assistant Director</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
                <div class="card hovercard">
                    <div class="cardheader">
                    </div>
                    <div class="avatar">
                        <%= image_tag('aubrey.jpg') %>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="https://scripteden.com/">Aubrey Love</a>
                        </div>
                        <div class="desc">Campaign Manger</div>
                        <div class="desc">Cyber Security Specialist</div>
                    </div>
                </div>
            </div>
	</div>
</div>
</div>
