@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body
{
  padding-top: 60px;
  background-image: url('flg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.agenda_div
{
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
}

section
{
  overflow: auto;
}

textarea
{
  resize: vertical;
}

.center
{
  text-align: center;
  background-color: rgba(0,0,0,0.8);
}

.center h1
{
  margin-bottom: 10px;
}

/* header */

#logo
{
  float: left;
  margin-right: 10px;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  text-shadow: 5px 5px 8px #C0C0C0;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover
{
  color: #fff;
  text-decoration: none;
}
